<div class="container-fluid">

  <div class="row">

    <div class="col-3 p-0" *ngIf="showsidebar">

      <app-sidebar></app-sidebar>

    </div>
    
    

    <div class="col-9" [class.col-12]="!showsidebar" style="height:100vh;background:pink; overflow-y: scroll;">
      
      <h1>
        {{'greeting'| translate}}
      </h1>
      <h1>
        {{'message'| translate}}
      </h1>
      <select #lang (change)="changelang(lang)">
        <option value =""selected>select a language</option>
        <option value="en">english</option>
        <option value="fr">france</option>
      </select>
      <router-outlet></router-outlet>
      
    </div>

  </div>

</div>

 